<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="./assets/portada.png" alt="" style="width: 100%;">
        </div>
        <div class="col-lg-6 m-auto">
            <h1 style="font-size: 4rem;" class="text-uppercase">Hola {{nombre}}</h1>
            <p style="font-size: 2rem;" >Empieza a ver a los usuarios registrados.</p>
            <button type="button" class="btn btn-outline-success" routerLink="/admin/lista">Lista de Usuarios</button>
        </div>
    </div>
</div>