<div class="container mt-2">
    <div class="row">
        <div class="col-lg-6 ">
            <img src="./assets/portada.png" alt="" style="width: 100%;">
        </div>
        <div class="col-lg-6 m-auto">
            <h1 style="font-size: 4rem;" class="text-uppercase">Acortador de enlaces</h1>
            <p style="font-size: 2rem;" >Una solucion para tus enlaces donde podras medir el rendimiento</p>
            <button type="button" class="btn btn-outline-success" routerLink="/registro">Registrate</button>
        </div>
    </div>
</div>